/* CSS sem sést alls staðar */
div{
    border: 1px solid;
}

.dalkar_3{
    display: grid;
    grid-template-columns: 1fr;
}


body{
    max-width: 70%;
    margin: 0 auto;
    background: silver;
}


.dalkar-2{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}


.dalkar-5{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

@media screen and (min-width:600px) {

    .dalkar-2{
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }
}

@media screen and (min-width:768px) {
    .dalkar_3{
        padding: 10;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }
}

@media screen and (min-width:768px) {
    .dalkar-5{
        padding: 10;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 15px;
    }
}

