/* CSS sem sést alls staðar */
div{
    border: 1px solid;
}
.dalkar_3{
    display: grid;
    grid-template-columns: 1fr;
}


body{
    max-width: 70%;
    margin: 0 auto;
}


.dalkar-2{
    border: 1px solid;
    border-color: black;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}


.dalkar-5{
    border: 1px solid;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

@media screen and (min-width:600px) {
    h1{
        color: red;
    }
    .dalkar-2{
        border: 1px solid;
        border-color: black;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }
}

@media screen and (min-width:768px) {
    h1{
        color: yellowgreen;
    }
    body{
        background-color: aquamarine;
    }
}

