body{
    max-width: 70%;
    margin: 0 auto;
}


.dalkar-2{
    border: 1px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.dalkar-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

