body{
    max-width: fit-content;
    background-color: red;
}

header{
    border: 1px;
    padding: 1px;
    background-color: rebeccapurple;
}

footer{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    background-color: brown;
}

h1 {
    color:blue ;
    font-size: 40px;
    font-style: initial;
}

h2{
    color: darkred;
    text-decoration: wavy;
}

article{
    float: left;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img { 
    max-width:100%;
    height: auto;
}

.myndarod{
    display: grid;
    grid-template-columns: 1fr;
}

.Adam-Sandler{
    display: grid;
    grid-template-columns: 1fr;
    background-color: crimson;
}

body {
    border-style: solid;
    border-color: aquamarine;
    padding-top: 1px;
}



@media screen and (min-width: 480px) {

    .myndarod{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (min-width: 960px) {
    .Adam-Sandler{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr;
    }

    .myndarod{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr 1fr;
    }

}