body{
    max-width: fit-content;
    background-color: red;
    border: 1px;
    padding: 1px;
    border-width: 180px;
}

header{
    border: 1px;
    padding: 1px;
    background-color: rebeccapurple;
}

h1{
    text-decoration: double;
    text-decoration-color: white;
}

article{
    float: left;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img { 
    max-width:100%;
    height: auto;
}

.myndarod{
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 480px) {

    .myndarod{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (min-width: 960px) {
    
    .myndarod{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr 1fr;
    }

}