body{
    max-width: fit-content;
    background-color: blue; 
}

.upp{
    background-color: silver;
    width: 100px;
    height: 100px;

    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    font-size: 50px;
}

html{
    scroll-behavior: smooth;
}

header{
    color: yellow;
    border: 1px;
    padding: 1px;
    background-color: rebeccapurple;
}

body{
    font-family: 'Dela Gothic One', cursive;
}

article{
    color: yellow;
    float: left; 
    border: 1px;
    padding: 1px;
}

.Hljóðskrá{
    color: yellow;
}

    
@media screen and (min-width: 480px) {

    .trailer{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr;
    }
    
}

    
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

